* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 103px;
  padding: 0 5%;
  background: #ffffff;
  /* backdrop-filter: blur(1000px); */
  position: sticky;
  top: 0;
  z-index: 1000;
  /* box-shadow: 2px 20px 45px #000000; */
}

/* LOGO */
.logo img {
  width: 150px;
}

.navbar ul {
  display: flex;
  gap: 49px;
  list-style: none;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.navbar a:hover {
  color: #f14239;
}

/* BUTTON */
.navbar .btn a {
  background: #f14239;
  color: #fff;
  padding: 16px 47px;
  border-radius: 5px;
}

#nav-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: #000;
  border-radius: 2px;
  transition: 0.3s;
}

/* .dropdown {
  display:flex ;
  flex-direction: column;
  position: absolute;
  border-radius: 10px ;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  position: relative;
  z-index: 10;
  list-style: none;
  padding: 10px;
  min-width: 160px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.menu-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
} */

.header ul .submenu {
  align-items: center;
  position: absolute;
  width: fit-content;
  gap: 0px;
  /* background-color: #ffffff; */
  /* box-shadow: 2px 20px 45px #000000; */
  margin-top: -50px;
  /* margin-top: 20px; */
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 10px;
  background-color: transparent;
  /* background: rgba(255, 255, 255, 0.8);  */
  backdrop-filter: blur(15px);
  border-radius: 20px;
}

.header ul li:hover .submenu {
  opacity: 1;
  z-index: 99;
  margin-top: 0px;
  margin-left: -100px;
}
.header ul li:hover .submenu-one {
  opacity: 1;
  z-index: 99;
  margin-top: 0px;
  margin-left: -30px;
}

.header ul li .submenu li {
  width: 100%;
  margin: 0;
}

.header ul li .submenu li a {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  display: inline-block;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 786px) {
  .hamburger {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 103px;
    left: 0;
    width: 100%;
    background: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
  }

  .navbar ul {
    flex-direction: column;
    gap: 24px;
    padding: 30px 0;
  }

  #nav-toggle:checked ~ .navbar {
    max-height: 400px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 80px;
  }

  .navbar {
    top: 80px;
  }

  .logo img {
    width: 120px;
  }
}

.entendedDevelopmentCenter-page {
  padding: 50px 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.first-text {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 365px;
  width: 50%;
  background-color: #b8afaf;
  color: #000000;
  align-content: center;
  /* margin-left: 502.5px; */
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  justify-content: end;
  padding: 0 50px;
}

.first-img {
  /* margin-top:50px; */
  width: 50%;
  align-content: center;
  text-align: center;
}
.first-img img {
  height: 483px;
  width: 483px;
}

.first-text h2 {
  font-size: 60px;
  font-family: "Plus Jakarta Sans";
  line-height: normal;
}

.first-text p {
  font-size: 18px;
  font-family: sans-serif;
  /* width: 914px; */
  line-height: normal;
  align-content: center;
  margin-top: 15px;
  height: fit-content;
}
/* 
@media (max-width: 1080px) {
  .about-page {
    height: 100%;
    width: 100%;
  }
  .first-text {
    margin: 0px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    height: fit-content;
    background-color: #ffffff;
    font-size: 16px;
  }
  .first-text h2 {
    margin: 0;
    font-size: 35px;
    width: 100%;
    height: fit-content;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .first-text p {
    margin: 0;
    font-size: 14px;
    width: 100%;
    height: fit-content;
    padding: 0 20px;
    padding-bottom: 20px;
  }
} */
/* 
@media (max-width: 786px) {
  .about-page {
    height: 100%;
    width: 100%;
  }
  .first-text {
    margin: 0px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    height: fit-content;
    background-color: #ffffff;
    font-size: 16px;
  }
  .first-text h2 {
    margin: 0;
    font-size: 35px;
    width: 100%;
    height: fit-content;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .first-text p {
    margin: 0;
    font-size: 14px;
    width: 100%;
    height: fit-content;
    padding: 0 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .about-page {
    height: 100%;
    width: 100%;
  }
  .first-text {
    margin: 0px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    height: fit-content;
    background-color: #ffffff;
    font-size: 16px;
  }
  .first-text h2 {
    margin: 0;
    font-size: 35px;
    width: 100%;
    height: fit-content;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .first-text p {
    margin: 0;
    font-size: 14px;
    width: 100%;
    height: fit-content;
    padding: 0 20px;
    padding-bottom: 20px;
  }
} */

footer {
  /* height: 637px; */
  width: 100%;
  min-height: auto;
  /* background-color: #000000; */
}

.footer-section {
  /* background-image: url('./assests/footer-bg.png'); */
  background-color: #262626;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 60px 119px;
}

.footer-section .logo-text {
  align-items: center;
  margin-bottom: 20px;
}

.footer-section .logo-text img {
  width: 150px;
  height: auto;
}

.footer-section .logo-text p {
  width: 400px;
  font-size: 16px;
  line-height: 1.5;
  height: 100px;
  width: 340px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.social-media {
  margin-top: 10px;
}

.footer-section .logo-text .social-media ul {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.footer-section .logo-text .social-media ul li {
  list-style: none;
}

.footer-section .logo-text .social-media ul li a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.footer-section .logo-text .social-media ul li img {
  margin-top: 10px;
  height: 33px;
  width: 33px;
}

.footer-section .footer-links,
.footer-section .services,
.footer-section .contact-us {
  flex: 1;
}

.quick-links h3,
.services h3,
.contact-us h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

footer li {
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

footer li a {
  color: #ffffff;
  text-decoration: none;
}

footer li a:hover {
  color: #f14239;
}

.contact-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-us p {
  font-size: 16px;
  line-height: 1.5;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-us h3 {
  margin-bottom: 10px;
}

.contact-us a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  gap: 20px;
}

.contact-us a:hover {
  color: #f14239;
  text-decoration: underline;
}

.copy-right {
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

.copy-right p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
}

@media (max-width: 1080px) {
  .footer-section {
    padding: 50px 20px;
    gap: 40px;
    padding-right: 10px;
  }

  .logo-text {
    width: 300px;
    padding: 0 10px;
  }

  .footer-section .logo-text p,
  .contact-us p {
    font-size: 15px;
  }

  .quick-links h3,
  .services h3,
  .contact-us h3 {
    font-size: 18px;
  }

  .footer-section .logo-text img {
    width: 130px;
  }

  .contact-us p {
    width: fit-content;
  }

  .footer-section .logo-text .social-media ul {
    gap: 30px;
  }
}
@media (max-width: 786px) {
  .footer-section {
    flex-direction: column;
    padding: 40px 30px;
    gap: 30px;
    text-align: center;
  }

  .logo-text {
    width: 100%;
  }

  .footer-section .logo-text img {
    width: 120px;
    margin-bottom: 20px;
  }

  .footer-section .logo-text p {
    width: 100%;
    height: fit-content;
  }

  .footer-section .logo-text .social-media ul {
    flex-wrap: wrap;
    gap: 20px;
  }

  .social-media ul {
    justify-content: center;
    text-align: center;
  }

  .quick-links,
  .services,
  .contact-us {
    width: 100%;
  }

  .contact-us a {
    justify-content: center;
  }

  .contact-us p {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  footer li,
  .contact-us a {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .footer-section {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
    justify-content: center;
  }

  .footer-section > div {
    width: 100%;
  }

  .logo-text img {
    margin: auto;
  }

  .logo-text p {
    width: 100%;
  }

  .social-media ul {
    justify-content: center;
    line-height: normal;
  }

  .contact-us {
    align-items: center;
  }

  .contact-us p {
    width: 100%;
  }

  .contact-us a {
    justify-content: center;
  }
}

.image img {
  width: 100%;
  height: 542px;
}

.digital-product {
  background-color: #fdf5f4;
}

.cards {
  display: flex;
  gap: 61px;
  text-align: center;
  justify-content: center;
  margin: 50px;
  background-color: #FDF5F4;

  /* margin: 40px; */
}

.cards .card-1 {
  height: 446px;
  width: 370px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.cards img {
  height: 182px;
  width: 370px;
}

.cards .card-1 p {
  font-size: 16px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  color: #000000;
  text-align: start;
  /* line-height: normal; */
}

.cards .card-1 h2 {
  font-size: 18px;
  padding-top: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #000000;
}


.digital-product h1 {
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  padding-top: 50px;
  padding-left: 110px;
  padding-right: 110px ;
  line-height: normal;
}
.digital-product p {
  font-size: 18px;
  width: 100%;
  padding: 30px 273px;
  text-align: center;
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* font-weight: 400; */
  /* margin-top: 25px; */
  line-height: normal;
  
}


.technologies {
  display: flex;
  gap: 50px;
  text-align: center;
  background-color: #fff;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 138px;
  padding-bottom: 60px;
}

.box {
  background-color: #ffffff;
  padding-bottom: 50px;
}

.boxes {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 30px 97px;
}

.boxes div {
  border: 2px solid rgb(128, 124, 124);
  border-radius: 5px;
  height: 382px;
  width: 390px;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 20px 20px;
}

.boxes img {
  height: 80px;
  width: 80px;
}

.boxes h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.boxes p {
  font-size: 16px;
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: normal;
}

.boxes h1 {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #000000;
  text-align: center;
}

.industry {
  height: 504px;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #e1fcfb;
}

.focus {
  display: flex;
  justify-content: center;
  gap: 28px;
  text-align: center;
  padding-bottom: 70px;
}
.focus div {
  width: 197px;
  height: 234px;
  background-color: #ffffff;
  border-radius: 15px;
  align-items: center;
  align-content: center;
}

.industry h2 {
  font-size: 40px;
  padding-bottom: 50px;
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.focus img {
  height: 70px;
  width: 70px;
}

.focus p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
  margin-top: 20px;
  color: #000000;
}

.customer {
  padding: 40px 0;
  background-color: #ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.customer h1 {
  font-size: 50px;
}

.customer p {
  font-size: 18px;
  /* width: 913px; */
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 250px;
  padding-right: 250px;
  line-height: normal;
}


.offerings{
  background-color: #e1fcfb;
  padding-top: 50px ;
  padding-bottom:50px;
}

.offerings h1{
  font-size: 50px;
  margin-bottom: 60px;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skills{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 50px;
}

.skills div{
  height: 234px;
  width: 259px;
  background-color: #ffffff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.skills div p{
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
}


.connect-with-us{
  background-image: url("../assests/Rectangle\ 19442.png");
  height: 514px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.connect-with-us h1{
  justify-content: center;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.connect-with-us p{
  justify-content: center;
  font-size: 22px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 50px 234px;
}


.connect-with-us button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #009693;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 47px;
}

.connect-with-us button a {
  color: #ffffff;
  text-decoration: none;
}

.connect-with-us button:hover {
  background-color: #e03e34;
}