@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  font-family: "Onest", sans-serif;
}
h3 {
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

header {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #fff;
  
}
        .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        position: relative;
    }

    .close-btn{
      display: flex;
    }

.dropdown-menu-btn img{
  height: 100%;
  width: 100%;
}

.dropdown-menu-btn{
  display: none;
  height: 30px ;
  width: 30px;
}

.top-from-header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  color: white;
  background-color: #989955;
  font-family: "Onest", sans-serif;
  font-size: 15px;
  padding: 9px;
}

.top-from-header p {
  margin: 0;
  line-height: 28px;
  font-weight: 300;
}

header li {
  list-style: none;
  font-size: 18px;
}
li {
  list-style: none;
}

.logo {
  height: 104px;
  width: 104px;
  margin-right: 200px;
}

.logo img {
  height: 100%;
  width: 100%;
}

.icons li {
  height: 27.86px;
  width: 27.86px;
}

.icons img {
  height: 100%;
  width: 100%;
}

.pop-up-nav {
    display: none;
    position: absolute;
    height: fit-content;
    width: 100vw;
    z-index: 1000;
    /* top: 0px; */
    /* left: 22px; */
    padding: 30px;
    /* backdrop-filter: blur(10px); */
    border-radius: 15px;
     transition: all 0.3s ease;
}

.pop-up-nav .icons ul {
  gap: 35px;
}

.close-btn img{
  height: 30px;
}

.pop-up-nav li{
  font-size: 30px;
  color: #989955;
  font-weight: 700;
  filter: brightness(100);
}
.close-btn img {
    height: 30px;
    filter: brightness(100);
}

.pop-up-nav.active{
  display: block;
}
.pop-up-nav .nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 29px;
    text-align: start;
    padding-left: 34px;
    align-items: flex-start;
    padding: -9px;
}

.overlay{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    z-index: 999;
    pointer-events: none;
    transition: all 0.29s ease;

}

.overlay.active{
    opacity: 1;
    pointer-events: initial;
}

.pop-up-nav .icons ul{
  justify-content: center;
}

.drop-nav-link{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pop-up-nav .nav-links ul{
    display: flex;
    flex-direction: column;
}
.dropdown-menu{
  display: none !important;
}
.close-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    height: 35px;
}

.nav-bar{
  position: relative;
}

@media (max-width: 1080px) {
}

@media (max-width: 786px) {
}

@media (max-width:992px) {

   .nav-links{
    display: none;
  }

  .pop-up-nav .nav-links{
    display: block;
  }
 
   .dropdown-menu-btn{
    display: block;
  }
      .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
    }
  .logo {
    height: 104px;
    width: 104px;
    margin-right: 00px;
}
ul {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}
}

footer {
  background-color: #1f1f1f;
  color: #a1a4b1;
  padding: 58px 50px 0 57px;
}

ul {
  padding: 0;
}

footer li a{
  display: flex;
  gap: 12px;
   color: #a1a4b1 !important;
}


.footer-section {
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

.quick-links li div {
  display: flex;
  align-items: center;
}
.shop li div {
  display: flex;
  align-items: center;
}
footer p {
  margin: 0;
  font-weight: 400;
}
.quick-links ul {
  gap: 17px;
  padding-top: 20px;
}

.quick-links ul li {
  gap: 20px;
}

.shop ul li {
  gap: 20px;
}

.quick-links ul li p {
  font-family: "Onest", sans-serif;
  font-weight: 400;
}

.shop ul li p {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  color: #a1a4b1;
}
.quick-links,
.shop {
  margin-top: 20px;
}

.shop ul {
  gap: 17px;
  padding-top: 20px;
}

.quick-links li img {
  height: 8px;
  width: 8px;
}
.shop li img {
  height: 8px;
  width: 8px;
}

.social-icons img {
  height: 32px;
  width: 32px;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.shapes {
  position: absolute;
  z-index: 10;
  top: 0px;
  bottom: 76px;
  left: 236px;
  right: 17px;
  display: flex;
  flex-direction: column;
  gap: 92px;
  align-items: flex-end;
  justify-content: center;
}

.contact-dtl {
  position: relative;
}

.pay-img {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.wild-kind {
  display: flex;
  gap: 20px;
}

.wild-kind p {
  color: #ffffff;
  margin: 0;
  font-weight: 300;
  font-family: "Onest", sans-serif;
  font-size: 16px;
}

footer h3 {
  color: #ffffff;
  font-family: "Fredoka", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.shape-1,
.shape-2,
.shape-3 {
  height: 76px;
  width: 78px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.subscribe p {
  font-size: 16px;
}

#email {
  /* margin-left: 5px; */
  padding: 13.5px 30px;
  width: 281px;
  border-radius: 25px;
  font-size: 10.96;
  line-height: 0;
  border: 1px solid #a1a4b1;
}
#email:focus {
  border: 1px solid #a1a4b1;
}

.subscribe button {
  padding: 13px 20px;
  background-color: #989955;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-family: "Onest", sans-serif;
  font-weight: bold;
  font-size: 10.96;
  z-index: 11;
}

.input {
  display: flex;
  gap: 10px;
  padding-top: 18px;
}
.contact-us {
  display: flex;
  gap: 13px;
  padding-top: 15px;
  align-items: center;
}

.contact-us p {
  line-height: 24px;
  font-family: "Onest", sans-serif;
}

.contact-us img {
  height: 24px;
  width: 24px;
}

.address {
  width: 325px;
}

.rancho {
  align-items: center;
}

.dropdown-item:active {
  background: transparent;
  color: #000000;
}
 .carousel-item {
    height: 100% !important;
}


.petcare-solutions {
  padding: 0px 57px;
}

.cat-rabit-image {
  position: relative;
  right: 100px;
}

.cat-image {
  position: relative;
  bottom: -45px;
}
.petcare-solutions h2 {
  width: 424px;
  font-family: "Fredoka", sans-serif;
  color: #000000;
  font-weight: 600;
}

.petcare-solutions button {
  padding: 16px 39px;
  background-color: #989955;
  border: none;
  color: #ffffff;
  border-radius: 44px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Onest", sans-serif;
}

.petcare-solutions .contact-us-btn {
  background-color: #000000;
}

.petcare-buttons {
  display: flex;
  gap: 30px;
}

button {
  padding: 16px 39px;
  border: none;
  color: #ffffff;
  border-radius: 44px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Onest", sans-serif;
}


@media (max-width: 992px) {
  footer {
    padding: 30px 20px;
    flex-direction: column;
  }
     .footer-section {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
  .wild-kind {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        padding-bottom: 20px;
        flex-direction: column;
    }
  .input {
    padding-right: 20px;
    flex-wrap: wrap;
  }
  .subscribe {
    gap: 30px;
  }
  .quick-links ul {
    gap: 12px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.shop ul {
    gap: 12px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    .subscribe {
        gap: 30px;
        padding-top: 20px;
    }
    #email {
    /* margin-left: 5px; */
    padding: 13.5px 30px;
    width: fit-content;
    border-radius: 25px;
    font-size: 10.96;
    line-height: 0;
    border: 1px solid #a1a4b1;
}

}


.pay-img img:hover{
   transition: all 0.2s ease-in;
}

.pay-img img:hover{
  transform: translateY(-3px);
  cursor: pointer;
}

.social-icons img{
   transition: all 0.2s ease-in;
}

.social-icons img:hover{
   transform: rotate(360deg);
    cursor: pointer;
}

.contact-us img{
  transition: all 0.2s ease-in;
}

.contact-us img:hover{
   transform: rotate(360deg);
    cursor: pointer;
}

.nav-links li{
    transition: all 0.2s ease-in;
 }
    .nav-links li:hover{
        transform: translateY(-2.5px);
        cursor: pointer;
    }
.icons li img{
  transition: all 0.2s ease-in;
}
    .icons li img:hover{
      transform: translateY(-2.5px);
        cursor: pointer;
    }

    .quick-links ul li:hover {
    transform: translateX(10px);
    gap: 20px;
    
}

    .quick-links ul li {
    transition: all 0.2s ease-in;
    cursor: pointer;
}

    .shop ul li:hover {
    transform: translateX(10px);
    gap: 20px;
    
}

    .shop ul li {
    transition: all 0.2s ease-in;
    cursor: pointer;
}