@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 100px;
  font-family: "Poppins", sans-serif;
  background-color: #e8eaf2;
  position: sticky;
  z-index: 999;
  top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 12px; */
  align-items: center;
  position: sticky;
}

.logo a {
  text-decoration: none;
  color: #5d74de;
}

.links {
  align-items: center;
}

.links ul {
  display: flex;
  gap: 35px;
  list-style: none;
  text-align: center;
}

.links li a {
  color: black;
  text-decoration: none;
  transition: all ease 0.2s;
}

.links li a:hover {
  color: #5d74de;
}

.links li:hover {
  transform: translateY(-1.5px);
}

.login {
  display: flex;
  gap: 28px;
  list-style: none;
  align-items: center;
}

.login li:hover {
  transform: translateY(-1.5px);
  transition: all ease 0.2s;
}

.login ul {
  display: flex;
  gap: 35px;
}

.login li a {
  color: black;
  text-decoration: none;
}

.free-trial {
  padding: 15px 43px;
  background-color: #5d74de;
  border-radius: 10px;
}

.login .free-trial a {
  color: #ffffff;
}

.dropdown_menu {
  /* margin-top: 20px; */
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  row-gap: 20px;

  height: 0;
  width: 100%;
  justify-content: end;
  /* top: 100px; */
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #e8eaf2;
  left: 0px;
}

.dropdown_menu .links ul {
  padding-top: 20px;
}

.open {
  display: none;
  height: 350px;
  /* z-index: 9999; */
}

.toggle_btn {
  display: none;
}

.toggle_btn i {
  font-size: 24px;
  color: #5d74de;
}

.login_btn ul {
  padding-top: 0px;
}

.dropdown_menu .links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown_menu .login_btn ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1080px) {
  header {
    padding: 20px 50px;
  }
  .nav-bar {
    padding: 20px;
  }
  .nav-bar .links {
    display: none;
  }

  .nav-bar .login_btn {
    display: none;
  }
  .nav-bar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 480px) {
    header {
    padding: 25px;
  }
  .nav-bar{
    padding: 0px;
  }
}

footer {
  font-family: "Poppins", sans-serif;
  background-color: #e8eaf2;
  padding: 80px 100px 40px 100px;
  font-weight: 500;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.address {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.address h2 {
  font-weight: 500;
  color: #052a44;
  font-size: 20px;
  padding-bottom: 8px;
}

.address p {
  font-weight: 500;
  line-height: 36px;
  font-weight: 400;
}

.social-media h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
}

.social-media div {
  padding-top: 9px;
  display: flex;
  justify-content: center;
  gap: 17px;
}

.social-media img {
  height: 33px;
  width: 33px;
}

.contact p {
  line-height: 36px;
  font-weight: 400;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright p {
  font-weight: 400;
  padding-top: 24px;
}

@media screen and (max-width: 786px) {
  footer {
    padding: 20px 70px;
  }
  .footer-upper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding-bottom: 20px;
  }
}

.logo h2{
  font-size: 22px;
  font-weight: 600;
}

.left-text div h2{
  font-size: 64px;
  padding-right: 0px;
  font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #052a44;
}

.btn{
  background-color: #5d74de;
   font-family: "Roboto", sans-serif;
}

.about-foodie{
  display: flex;
  background-color: #e8eaf2;
}

.gap-3 {
    gap: 1rem !important;
    justify-content: center;
}

.carousel-item img{
 min-height: 400px ;
}

span{
  color: #5d74de;
}

.left-text ul li{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.left-text p{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.6;
}

.left-text button{
  font-size: 16px;
  font-weight: 500;
}


.special-recipes {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e8eaf2;
}

.special-recipes-heading {
  padding: 40px 150px 0px 150px;
  text-align: center;

  font-family: "Roboto", sans-serif;
}

.special-recipes-heading h2 {
  font-size: 42px;
  color: #052a44;
}

.special-recipes-heading p {
  padding-top: 15px;
  font-size: 18px;
  color: #757575;
}

.image-section .center {
  position: relative;
  bottom: -73px;
}

.order-now {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.order-now button {
  padding: 16px 43px;
  color: #ffffff;
  background-color: #5d74de;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 8px;
}

.image-section {
  padding-top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("assests/Vector\ 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  gap: 32px;
  padding-bottom: 80px;
}


.order-1 {
  height: 240px;
  width: 220px;
}
.order-2 {
  height: 431px;
  width: 220px;
}
.order-3 {
  height: 581px;
  width: 220px;
}
.order-4 {
  height: 431px;
  width: 220px;
}
.order-5 {
  height: 240px;
  width: 220px;
}

.order-1 img,
.order-2 img,
.order-3 img,
.order-4 img,
.order-5 img {
  height: 100%;
  width: 100%;
}

.card{
    width: 400px;
  }
  
  .heading h2{
 color: #052a44;
 font-size: 64px;
}


.heading p{
  color: #757575;
  font-size: 22px;
}


.why-foodie{

  background-color: #e8eaf2;
}

@media screen and (max-width: 786px) {
  .special-recipes-heading {
    padding: 20px 30px 0px 30px;
  }

  .image-section {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    background-image: none;
  }

  .image-section .center {
    bottom: 0px;
  }

   .special-recipes-heading {
    padding: 20px;
    text-align: start;
    font-family: "Roboto", sans-serif;
  }
  .image-section {
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }
  .image-section .center {
    position: relative;
    bottom: -19px;
  }
  .special-recipes-heading p {
    padding-top: 15px;
    font-size: 16px;
    color: #757575;
  }
  .special-recipes-heading h2 {
    font-size: 30px;
    color: #052a44;
  }

  .order-1,
  .order-2,
  .order-3,
  .order-4,
  .order-5 {
    height: 100%;
    width: 100%;
  }
      .image-section {
        display: flex;
        gap: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        flex-direction: row;
    }

       .card {
        width: 500px;
    }
  .card img{
    width: 100%;
  }
}




@media screen and (max-width:480px){
   .order-1,
  .order-2,
  .order-3,
  .order-4,
  .order-5 {
    height: 100%;
    width: 100%;
  }
    .image-section {
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }
  .image-section .center {
    position: relative;
    bottom: -19px;
  }
  .special-recipes-heading p {
    padding-top: 15px;
    font-size: 16px;
    color: #757575;
  }
  .special-recipes-heading h2 {
    font-size: 30px;
    color: #052a44;
  }
     .special-recipes .special-recipes-heading {
        padding: 0px 0px 0px 0px;
        text-align: start;
        font-family: "Roboto", sans-serif;
    }
       .special-recipes   .image-section {
        padding: 0px;
        padding-bottom: 0px;
    }


    .card{
    width: 100%;
  }
 .left-text div h2 {
    font-size: 40px;
    padding-right: 0px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #052a44;
}
.heading h2 {
    color: #052a44;
    font-size: 40px;
}
  
}

@media  screen and (max-width:1080px) {

.image-section {
        padding: 0 50px;
        padding-bottom: 50px;
    }

   .order-1,
  .order-2,
  .order-3,
  .order-4,
  .order-5 {
    height: 100%;
    width: 100%;
  }
  .special-recipes-heading {
    padding: 40px 50px 0px 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.image-section .center {
    position: relative;
    bottom: -34px;
}
}