@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 100px;
  font-family: "Poppins", sans-serif;
  background-color: #e8eaf2;
  position: sticky;
  z-index: 999;
  top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 12px; */
  align-items: center;
  position: sticky;
}

.logo a {
  text-decoration: none;
  color: #5d74de;
}

.logo h2 {
  font-weight: 600;
  font-size: 24px;
}

.links {
  align-items: center;
}

.links ul {
  display: flex;
  gap: 35px;
  list-style: none;
  text-align: center;
}

.links li a {
  color: black;
  text-decoration: none;
  transition: all ease 0.2s;
}

.links li a:hover {
  color: #5d74de;
}

.links li:hover {
  transform: translateY(-1.5px);
}

.login {
  display: flex;
  gap: 28px;
  list-style: none;
  align-items: center;
}

.login li:hover {
  transform: translateY(-1.5px);
  transition: all ease 0.2s;
}

.login ul {
  display: flex;
  gap: 35px;
}

.login li a {
  color: black;
  text-decoration: none;
}

.free-trial {
  padding: 15px 43px;
  background-color: #5d74de;
  border-radius: 10px;
}

.login .free-trial a {
  color: #ffffff;
}

.dropdown_menu {
  /* margin-top: 20px; */
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  row-gap: 20px;

  height: 0;
  width: 100%;
  justify-content: end;
  /* top: 100px; */
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #e8eaf2;
  left: 0px;
}

.dropdown_menu .links ul {
  padding-top: 20px;
}

.open {
  display: none;
  height: 350px;
  /* z-index: 9999; */
}

.toggle_btn {
  display: none;
}

.toggle_btn i {
  font-size: 24px;
  color: #5d74de;
}

.login_btn ul {
  padding-top: 0px;
}

.dropdown_menu .links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown_menu .login_btn ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1080px) {
  header {
    padding: 20px 50px;
  }
  .nav-bar {
    padding: 20px;
  }
  .nav-bar .links {
    display: none;
  }

  .nav-bar .login_btn {
    display: none;
  }
  .nav-bar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

footer {
  font-family: "Poppins", sans-serif;
  background-color: #e8eaf2;
  padding: 80px 100px 40px 100px;
  font-weight: 500;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 40px; */
}

.address {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.address h2 {
  font-weight: 500;
  color: #052a44;
  font-size: 20px;
  padding-bottom: 8px;
}

.address p {
  font-weight: 500;
  line-height: 36px;
  font-weight: 400;
}

.social-media h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
}

.social-media div {
  padding-top: 9px;
  display: flex;
  justify-content: center;
  gap: 17px;
}

.social-media img {
  height: 33px;
  width: 33px;
}

.contact p {
  line-height: 36px;
  font-weight: 400;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright p {
  font-weight: 400;
  padding-top: 24px;
}

@media screen and (max-width: 786px) {
  footer {
    padding: 20px 70px;
  }
  .footer-upper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding-bottom: 20px;
  }
}

.hero-section{
  background-color: #e8eaf2;
}

.right-section {
  height: 100%;
  width: 50%;
}

.right-section img {
  /* height: 500px; */
  width: 600px;
  object-fit: fill;
}

.left-section h2 {
  font-size: 64px;
  color: #052a44;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.left-section {
  font-family: "Poppins", sans-serif;
}


span{
  color: #5d74de;
}

.left-section p{
  color: #757575;
  font-size: 22px;
}

.left-section h4{
  color: #5d74de;
  font-size: 22px;
}

.btn{
  background-color: #5d74de;
}
.btn:hover{
  background-color: #052a44;
}

   /* Swiper CSS */
   
   .newSwiper{
      position: relative;
      height: 100%;
      padding:  0px;
      background-color: #e8eaf2;
      overflow-x: hidden;
      
    }
    .swiper {
      width:400px ;
      height:300px;
    }

    .swiper-slide {
      
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
    }

    .swiper-slide img {
      border-radius: 20px;
      display: block;
      width: 400px;
      height: 300px;
      object-fit: cover;
    }

    .swiper-wrapper{
      display: flex;
      
      
    }

    .autoplay-progress {
      display: none;
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      display: none;
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }

    .what-we-deliver{
      background-color: #e8eaf2;
    }

    .swiper-button-next{
      position: relative;

    }

    
    .swiper-button-prev{
      position: relative;
      
    }

    .value-1{
      border: 1px solid #052a44;
    }

   .delivery-heading h2 {
  font-size: 60px;
  color: #052a44;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
  .delivery-heading p {
  font-size: 20px;
  color: #969697;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.values{
  display: flex;
  justify-content: center;
  gap: 20px;
 padding-top: 0;
}

    .value-1{
      border: 1px solid #cfd3d5;
      background-color: #ffffff;
      padding: 30px;
    }


.values h2{
  font-size: 22px;
  color: #5d74de;
    font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.values p{
  font-size: 16px;
  color: #052a44;
  font-weight: 500;
    font-family: "Roboto", sans-serif;
}
