@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: 'Inter', sans-serif ; */
}

body {
  background-color: #f4f4f4;
}

header {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #f4f4f4;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  font-family: "Inter", sans-serif;
  position: sticky;
  color: #000000;
  font-weight: bold;
}

.nav-bar .logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-bar .logo a{
  display: flex;
  text-decoration: none;
  color: #000000;
  align-items:center;
  gap: 20px;
}

.nav-bar .logo img {
  height: 24px;
  width: 24px;
}

.nav-bar ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #383838;
}

.nav-bar ul li a:hover {
  color: #00ff7f;
  transition: all 0.1s ease-in;
}

.nav-bar .login_btn ul li {
  font-family: "Inter", sans-serif;
  align-content: center;
  text-align: center;
}


.button a{
  display: flex;
  color: #000000;
  align-items: center;
}

.nav-bar .button a:hover{
  color: #000000;
}

.login_btn .button {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  height: 48px;
  width: 182px;
  background-color: #00ff7f;
  border-radius: 45px;
  border: none;
 display: flex;
 justify-content: center;
}

.login_btn .button:hover {
  /* color: #00FF7F; */
  font-size: 19px;
  /* background-color: #ffffff; */
  transition: all 0.1s ease-out;
}

.login_btn .button img {
  margin-left: 10px;
  height: 16px;
  width: 16px;
  /* justify-content: space-between; */
}


.dropdown_menu {
  /* margin-top: 20px; */
  display: none;
  position: absolute;

  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  row-gap: 20px;
  font-weight: bold;
  height: 0;
  width: 100%;
  top: 60px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #f4f4f4;
}

.open {
  display: none;
  height: 350px;
  /* z-index: 9999; */
}

.toggle_btn {
  display: none;
}

.toggle_btn i {
  font-size: 24px;
}
.nav-bar .logo h2 {
  font-weight: 500;
}

.dropdown_menu ul {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 500;
}

.login_btn ul {
  padding-top: 0px;
}

.dropdown_menu ul li a {
  text-decoration: none;
  color: #383838;
}

.dropdown_menu ul li a:hover {
  color: #00ff7f;
  transition: all 0.1s ease-in;
}

.dropdown_menu .login_btn ul li {
  font-family: "Inter", sans-serif;
  align-content: center;
  text-align: center;
  display: flex;
    justify-content: center;
}

.nav-bar .login_btn {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 18px;
  font-weight: 400;
  font-weight: bold;
}


.dropdown_menu .button a{
  display: flex;
  color: #000000;
  align-items: center;
}


.dropdown_menu .nav-bar .button a:hover{
  color: #000000;
}

.dropdown_menu .login_btn .button {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  height: 48px;
  width: 182px;
  background-color: #00ff7f;
  border-radius: 45px;
  border: none;
 display: flex;
 justify-content: center;
}

.dropdown_menu .login_btn .button:hover {
  /* color: #00FF7F; */
  font-size: 19px;
  /* background-color: #ffffff; */
  transition: all 0.1s ease-out;
}

.dropdown_menu .login_btn .button img {
  margin-left: 10px;
  height: 16px;
  width: 16px;
  /* justify-content: space-between; */
}

@media (max-width: 1080px) {
   .nav-bar {
  padding: 20px;
}
  .nav-bar .links {
    display: none;
  }

  .nav-bar .login_btn {
    display: none;
  }
  .nav-bar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

footer {
  color: #ffffff;
  background-color: #000000;
  margin: 32px;
  border-radius: 40px;
  padding: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

footer .upper-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer-links {
  display: flex;
  gap: 75px;
  padding: 20px;
}

.footer-links ul {
  gap: 50px;
  list-style: none;
  font-size: 18px;
}

.company h2 {
  font-size: 24px;
  padding-bottom: 24px;
}

.footer-links ul li {
  padding-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #000000;
  color: #ffffff;
}

.footer-links ul li a:hover {
  color: #00ff7f;
  transition: all 0.1s ease-in;
}

.lover-section {
  padding: 56px 0 0 0;
  align-content: center;
  align-items: center;
}

.social-media ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 18px;
}

.social-media ul li {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 10px 20px;
}

.social-media ul li a {
  text-decoration: none;
  color: #ffffff;
}

.social-media ul li a:hover {
  color: #00ff7f;
  transition: all 0.1s ease-in;
}

.lover-section {
  display: flex;
  justify-content: space-between;
}

.copy-right {
  display: flex;
  gap: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 10px 227px;
  letter-spacing: 2px;
}

.footer-about {
  height: 201px;
  width: 513px;
  /* padding: 20px; */
}

.footer-about h2 {
  font-size: 70px;
}

.footer-about p {
  font-size: 18px;
  padding-right: 120px;
  padding-top: 30px;
}

@media (max-width: 1080px) {
  .upper-section {
    display: flex;
    flex-direction: column;
  }

  .lover-section {
    display: flex;
    flex-direction: column;
  }

  .footer-about p {
    font-size: 18px;
    /* padding-right: 120px; */
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer-about {
    height: 201px;
    width: 513px;
    padding: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    width: 100%;
  }

  .footer-links {
    display: flex;
    gap: 100px;
    padding: 20px;
    justify-content: center;
  }

  .lover-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    row-gap: 50px;
    column-gap: 50px;
  }

  .upper-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .copy-right {
    display: flex;
    gap: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    /* padding: 10px 227px; */
    letter-spacing: 2px;
    height: 50px;
    width: 600px;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    padding: 0;
  }
}

@media (max-width: 480px) {
  footer {
    color: #ffffff;
    background-color: #000000;
    margin: 12px;
    border-radius: 40px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  .footer-links {
    display: flex;
    /* gap: 100px; */
    /* padding: 20px; */
    /* justify-content: center; */
    flex-direction: column;
  }

  .footer-links {
    display: flex;
    gap: 20px;
    /* padding: 20px; */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-about p {
    font-size: 18px;
    /* padding-right: 120px; */
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .social-media ul {
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 18px;
    flex-direction: column;
    text-align: center;
  }
  .lover-section {
    padding-top: 20px;
    row-gap: 20px;
  }

  .upper-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .lover-section {
    padding-top: 20px;
    padding: 20px;
    row-gap: 20px;
    /* margin-bottom: 20px; */
  }
  .copy-right {
    width: 100%;
  }
  .footer-links ul li {
    padding-bottom: 2px;
  }
  .company h2 {
    font-size: 24px;
    padding-bottom: 10px;
  }
}


section {
  background-color: #ffffff;
  margin: 20px 32px;
  margin-top: 0;
  border-radius: 25px;
  padding: 40px 48px;
  font-family: "Inter", sans-serif;
}


.pricing-heading {
    padding: 0 150px;
    text-align: center;
}

.pricing-heading h2{
font-size: 64px;
font-weight: 500;
}

.pricing-heading p{
font-size: 20px;
/* padding: 0 42px; */
font-weight: 500;
color: #383838;
}

 span{
padding: 5px 15px;
background-color:#bcfcdc;
border-radius: 25px;

}

.pricing-card-section{
    display: flex;
    justify-content: center;
    padding: 40px 10px;

    gap: 50px;
}

.pricing-card-content{
    background-color: #f4f4f4;
    border: 1px solid rgb(97, 95, 95);
    border-radius: 25px;
    transition: all 0.2s ease;
}

.pricing-card-content:hover{
  transform: translateY(-5px);
}

.card-heading{
    background-color: #22F3A6;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
     text-align: center;
      padding: 30px;
}

.card-heading h3{
    font-size: 46px;
    font-weight: 500;
}

.card-body h3 span{
    font-size: 24px;
    font-weight: 400;
    color: #393939;
}

.card-body{
      /* margin: 15px; */
      padding: 30px;
      background-color:#ffffff;
      border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
      
}

.card-body h3{
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}

.correct-tick img{
    height: 100%;
    width: 100%;
    align-items: center;
}

.correct-tick {
    height: 30px;
    width: 30px;
}

.content-list ul{
display: flex;
flex-direction: column;
gap: 15px;
padding-top: 20px;
padding-bottom: 20px;
}

.content-list li{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

.action-btn button {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    padding: 15px 15px;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    border: none;
    background-color:#E3F6F4;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.action-btn button div {
   
     height: 24px;
    width: 24px;
}

.action-btn button img {
    align-items: center;
     height: 100%;
    width: 100%;
}

.starter{
    transition: all .3s ease;
}

.starter:hover{
    /* box-shadow: 5px 5px 30px #00ff7f; */
    cursor: pointer;
}



.starter .card-heading{
    background-color: #E8F2E7;
}

.starter .action-btn button{
    background-color: #E8F2E7;
        transition: all 0.3s ease;
}
.starter .action-btn button:hover{
    background-color:#bcfcdc;
    color: #000000;
    /* box-shadow: 5px 5px 20px #a9a2a2; */
    font-size: 19px;
    cursor: pointer;
}



.growth .card-heading{
    background-color: #E5F6F5;
}

.growth .action-btn button{
    background-color: #E5F6F5;
        transition: all 0.3s ease;
         

}
.growth .action-btn button:hover{
    background-color: #f4f4f4;
    color: #000000;
    /* box-shadow: 5px 5px 30px #000000; */
    font-size: 19px;
    cursor: pointer;
}

.growth{
    transition: all .3s ease;
}

.growth:hover{
    /* box-shadow: 5px 5px 30px #28ccbc; */
    cursor: pointer;
}

.growth:hover{
    background-color: #28ccbc;
}

.enterprise .card-heading{
    background-color: #4F5559;
    color: #ffffff;
    font-weight: 500;
}
.enterprise .action-btn button{
    background-color: #4F5559;
    color: #ffffff;
    transition: all 0.3s ease;
    
}

.enterprise .action-btn button:hover{
    background-color: #22F3A6;
    color: #ffffff;
    /* box-shadow: 5px 5px 30px #000000; */
    font-size: 19px;
    cursor: pointer;
}
.enterprise{
    transition: all .3s ease;
}

.enterprise:hover{
    /* box-shadow: 5px 5px 30px #47e495; */
    cursor: pointer;
}


.pricing-compare {
  /* background: #f6f7f9; */
  padding: 46px 24px;
  font-family: Inter, system-ui, sans-serif;
  color: #0f172a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.pricing-compare h2 {
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 12px;
}

.pricing-compare p {
  font-size: 20px;
  font-weight: 500;
  
}


.subtitle {
  color: #475569;
  font-size: 16px;
  margin-bottom: 48px;
}

.table-wrapper {
  overflow-x: auto;
  transition: all 0.3s ease-in;
  border-radius: 24px;
 
}

.table-wrapper:hover {
  overflow-x: auto;
  cursor: pointer;
  border-radius: 24px;
  box-shadow: 0px 10px 30px #bcfcdc;
}

.pricing-table {
  width: 100%;
  border-collapse: collapse;
 
}

.pricing-table th{
    padding: 30px 20px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 18px;
}
.pricing-table td {
  padding: 30px 20px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 16px;
}

.pricing-table th {
  background: #ffffff;
  font-weight: 600;
  color: #0f172a;
}

.pricing-table td:first-child,
.pricing-table th:first-child {
  text-align: left;
  font-weight: 500;
}

.pricing-table td {
  text-align: center;
  color: #334155;
}

.highlight {
  background: linear-gradient(
    180deg,
    rgba(34, 243, 166, 0.12) 0%,
    rgba(34, 243, 166, 0.04) 100%
  );
  font-weight: 600;
}



.pricing-footer {
  margin-top: 50px;
  font-size: 20px;
  color: #475569;
}

.pricing-footer a {
  margin-left: 8px;
  color: #22f3a6;
  text-decoration: none;
  font-weight: 600;
}
.pricing-footer span{
    background-color: #ffffff;
}

.pricing-footer a:hover {
  text-decoration: underline;
}

td div{
display: flex;
gap: 10px;
align-items: center;
justify-content: center;

}
.pricing-compare td div p{
    font-size: 16px;
}
td img{
    height: 25px;
    width: 25px;
}

.head:hover{
    background-color:#22f3a6;
}



@media(max-width:1080px){
  .pricing-heading {
    padding: 0 0px;
    text-align: center;
}
.pricing-card-content {
    width: 80%;
}
.pricing-card-section {
    flex-wrap: wrap;
}
}

@media(max-width:786px){
  
}

@media(max-width:480px){
  section {
    background-color: #ffffff;
    margin: 20px;
    margin-top: 0;
    border-radius: 25px;
    padding: 10px;
    font-family: "Inter", sans-serif;
}
.pricing-card-content {
        width: 100%;
    }
    .pricing-heading h2 {
    font-size: 40px;
    font-weight: 500;
}
.card-heading h3 {
    font-size: 30px;
    font-weight: 500;
}
.card-body h3 {
    font-size: 35px;
}
.pricing-compare h2 {
    font-size: 40px;
}
}